#window {
  font: Hack Nerd Font Mono;
  font-size: 18pt;
  color: --wofi-color2;
  background: --wofi-color1;
}

#entry:selected {
  color: --wofi-color0;
  background: --wofi-color7;
}

#input {
  background-color: --wofi-color1;
  border: none;
  color: --wofi-color2;
}

#input:focus {
  outline: none;
}
